* {
    font-family: 'Inter', 'sans-serif';
    color: #FFF;
}

body {
    margin: 0;
    background-color: #323638;
    background-image: url('../imgs/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.biometrias-cadastradas {
    background-color: rgba(110, 110, 110, 0.5);
    border-radius: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 1107px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.biometrias-cadastradas::-webkit-scrollbar {
    opacity: 0;
}

.biometrias-cadastradas::-webkit-s crollbar-corner {
    opacity: 0;
}

.img-top-box {
    position: relative;
    top: 64px;
    text-align: center;
}

input,
select {
    background-color: #373737 !important;
    border: none !important;
    border-radius: 50px !important;
    font-size: 40px !important;
    color: #FFF !important;
    overflow-y: auto;
}

input::placeholder {
    color: #FFF !important;
}

.data-hora {
    margin: 10px;
}

.container-all {
    position: relative;
    top: 50px;
    left: 75px;
}

.container-ar {
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    border-radius: 50px;
    background-color: rgba(183, 183, 183, 17%);
    width: 796px;
}

.relogio {
    position: relative;
    left: 50px;
}

.data-hora,
.medidor-ar,
.scroll-ar {
    position: relative;
    left: 75px;
}

.data-hora,
.medidor-ar {
    font-size: 75px;
}

li {
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.75);

}


li:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.0);
}


ul {
    display: flex;
    justify-content: center;
}

.navbar-container {
    position: relative;
    left: -100px;
}

.crown-top {
    margin-top: 200px;
    width: 128px;
    height: 128px;
}

.pergunta {
    text-align: center;
    font-size: 50px;
}

#idResposta {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group-text {
    background-color: #373737 !important;
    border: none;
    border-radius: 50px;
}

.btn-borracha {
    width: 65px;
    height: 65px;
}

.btns-rec-pergunta {
    padding-left: 250px;
}

.btn-danger {
    font-size: 30px;
    border-radius: 50px;
    margin-right: 350px;
}