* {
    font-family: 'Inter', 'sans-serif';
}

body {
    margin: 0;
    background-color: #323638;
    background-image: url('../imgs/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.biometrias-cadastradas {
    overflow: auto;
    background-color: #6e6e6e;
    border-radius: 50px;
}

.card {
    position: relative;
    width: 297px;
    height: 425px;
    max-width: 297px;
    max-height: 425px;

    border-radius: 50px;

    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}