.container {
    position: relative;
    top: -75px;
}

.box-log {
    width: 850px !important;
    height: 500px !important;
    max-width: 850px !important;
    max-height: 500px !important;
}

.formulario {
    position: relative;
    top: 96px;
}

.mb-3 {
    margin-bottom: 39px !important;
}

.txt-label {
    position: relative;
    font-size: 40px;
    text-align: center;
}

.leitor-digital,
.btn-edit {
    position: relative;
    text-align: center;
}

.btn-dark {
    background-color: #000 !important;
    font-size: 30px;
}

.box-edit {
    height: 425px !important;
}

.box-edit-2 {
    height: 520px !important;
    max-height: 520px !important;
}

.btn-pro {
    text-align: center;
}

.input-log {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group-text {
    background-color: #000 !important;
    border: none;
    border-radius: 50px;
}

.txt-label {
    font-size: 25px;
    font-style: italic;

}

.ct2 {
    margin-top: -20px;
}

.esqueci-senha {
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}